<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.bgimg {
    background-image: url('../static/background3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<h2 class="w3-center">Visualization Slideshow</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="../static/create_age.jpg" style="width:80%">
  <img class="mySlides" src="../static/domain_length.jpg" style="width:80%">
  <img class="mySlides" src="../static/subdomain.jpg" style="width:80%">
  <img class="mySlides" src="../static/expiry_age.jpg" style="width:80%">

<!--   <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button> -->
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<div class="w3-display-topleft w3-padding-large">
  <nav>
      <a href="/">Home</a>
  </nav>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>

  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Developer: Kejin Qian</a>
  </div>
</div>

</body>
</html>