
<!-- index.html-->
<!DOCTYPE html>
<html>
<title>Malicious URL Classifier Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('../static/background3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>



<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large">
	<nav>
	    <a href="/">Home</a>
	</nav>
</div>
    <div class="w3-display-topright w3-padding-large">
  <nav>
      <a href="/About">About</a>
  </nav>
  </div>
  <div class="w3-display-middle" align="center">
    <h1 class="w3-jumbo w3-animate-top"><bold>Malicious URL Detector</bold></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center"><font size="+2">Search or Scan a URL:</font></p>
  	<form action="{{ url_for('handle_data') }}" method="post">
	  	<textarea rows="2" cols="100" name="url"></textarea><br><br>
		<input type = "submit" value="check">
    

	</form>


  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Developer: Kejin Qian</a>
  </div>
</div>

</body>
</html>